.section {
  height: 1000px;
  background-color: #f8f8f8;
  padding: 20px;
}

.navbar-nav {
    background-color: #e0e0e0;
    width: 100%;
}

.navbar-nav li a {
  color: #fff;
}

@media (min-width: 768px) {
  .navbar-nav {
    display: none;
  }
}

.menu-item {
  margin: 20px 0;
  padding: 20px;
  background-color: #e0e0e0;
  border-radius: 5px;
}

.description-box {
  background-color: #e0e0e0;
  padding: 15px;
  border-radius: 5px;
  color: #333;
}
